.html {
    -fx-font-size: 16px;

    &-hyperlink {
        -fx-fill: -monet-primary;
    }

    $levels: 1, 2, 3;
    @each $level in $levels {
        &-h#{$level} {
            -fx-font-size: 24px - $level * 2px;
        }
    }

    &-bold {
        -fx-font-weight: bold;
    }

    &-italic {
        -fx-font-style: italic;
    }
}
