* {
    -monet: {
        primary: #4352A5;
        on-primary: #FFFFFF;
        primary-container: #5C6BC0;
        on-primary-container: #F8F6FF;
        primary-fixed: #DEE0FF;
        primary-fixed-dim: #BAC3FF;
        on-primary-fixed: #00105B;
        on-primary-fixed-variant: #2F3F92;
        secondary: #575C7F;
        on-secondary: #FFFFFF;
        secondary-container: #D0D5FD;
        on-secondary-container: #565B7D;
        secondary-fixed: #DEE0FF;
        secondary-fixed-dim: #BFC4EC;
        on-secondary-fixed: #141938;
        on-secondary-fixed-variant: #3F4566;
        tertiary: #775200;
        on-tertiary: #FFFFFF;
        tertiary-container: #976900;
        on-tertiary-container: #FFF6EE;
        tertiary-fixed: #FFDEAC;
        tertiary-fixed-dim: #F6BD58;
        on-tertiary-fixed: #281900;
        on-tertiary-fixed-variant: #5F4100;
        error: #BA1A1A;
        on-error: #FFFFFF;
        error-container: #FFDAD6;
        on-error-container: #93000A;
        surface: #FBF8FF;
        on-surface: #1B1B21;
        surface-dim: #DBD9E1;
        surface-bright: #FBF8FF;
        surface-container-lowest: #FFFFFF;
        surface-container-low: #F5F2FA;
        surface-container: #EFEDF5;
        surface-container-high: #E9E7EF;
        surface-container-highest: #E3E1E9;
        surface-variant: #E2E1EF;
        on-surface-variant: #454651;
        background: #FBF8FF;
        on-background: #1B1B21;
        outline: #767683;
        outline-variant: #C6C5D3;
        shadow: #000000;
        scrim: #000000;
        inverse-surface: #303036;
        inverse-on-surface: #F2EFF7;
        inverse-primary: #BAC3FF;
        surface-tint: #4858AB;
        primary-seed: #5C6BC0;
        primary-transparent-50: #4352A580;
        secondary-container-transparent-50: #D0D5FD80;
        surface-transparent-50: #FBF8FF80;
        surface-transparent-80: #FBF8FFCC;
        on-surface-variant-transparent-38: #45465161;
        surface-container-low-transparent-80: #F5F2FACC;
        secondary-container-transparent-80: #D0D5FDCC;
        inverse-surface-transparent-80: #303036CC;
    }
}
