name: Java CI

on:
  push:
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '17'
        java-package: 'jdk+fx'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        cache-cleanup: never
    - name: Build with Gradle
      run: ./gradlew build --no-daemon --parallel
      env:
        MICROSOFT_AUTH_ID: ${{ secrets.MICROSOFT_AUTH_ID }}
        MICROSOFT_AUTH_SECRET: ${{ secrets.MICROSOFT_AUTH_SECRET }}
        CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
    - name: Get short SHA
      run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
    - name: Upload JAR
      id: artifact-jar
      uses: actions/upload-artifact@v6
      with:
        name: HMCL-${{ env.SHORT_SHA }}-jar
        path: |
          HMCL/build/libs/HMCL-*.jar
          HMCL/build/libs/HMCL-*.jar.sha256
    - name: Upload EXE
      id: artifact-exe
      uses: actions/upload-artifact@v6
      with:
        name: HMCL-${{ env.SHORT_SHA }}-exe
        path: |
          HMCL/build/libs/HMCL-*.exe
          HMCL/build/libs/HMCL-*.exe.sha256
    - name: Upload SH
      id: artifact-sh
      uses: actions/upload-artifact@v6
      with:
        name: HMCL-${{ env.SHORT_SHA }}-sh
        path: |
          HMCL/build/libs/HMCL-*.sh
          HMCL/build/libs/HMCL-*.sh.sha256
    - name: Comment
      if: ${{ github.event_name == 'pull_request' }}
      runs: |
        echo "| Artifacts | SHA-256 Checksum |" > COMMENT
        echo "| --------- | ---------------- |" >> COMMENT
        echo "| [HMCL-${{ env.SHORT_SHA }}.exe](${{ steps.artifact-exe.outputs.artifact-url }}) | ${{ steps.artifact-exe.outputs.artifact-digest }} |" >> COMMENT
        echo "| [HMCL-${{ env.SHORT_SHA }}.jar](${{ steps.artifact-jar.outputs.artifact-url }}) | ${{ steps.artifact-jar.outputs.artifact-digest }} |" >> COMMENT
        echo "| [HMCL-${{ env.SHORT_SHA }}.sh](${{ steps.artifact-sh.outputs.artifact-url }}) | ${{ steps.artifact-sh.outputs.artifact-digest }} |"  >> COMMENT
        gh pr comment ${{ github.event.pull_request.number }} \
          --body-file COMMENT \
          --create-if-none \
          --edit-last
      env:
        GH_TOKEN: ${{ secrets.COMMENT_TOKEN }}
