name: Create Release

on:
  workflow_dispatch:
#  schedule:
#    - cron: '30 * * * *'

permissions:
  contents: write

env:
  KOMAC_DEB_DOWNLOAD_URL: https://github.com/russellbanks/Komac/releases/download/v2.14.0/komac_2.14.0-1_amd64.deb

jobs:
  check-update:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        include:
          - channel: dev
            task: checkUpdateDev
            winget-identifier-gh: HMCL.HMCL.Dev
            winget-identifier-cnb: HMCL.HMCL.Dev.CNB
            winget-name: Hello Minecraft! Launcher Dev
    runs-on: ubuntu-latest
    name: check-update-${{ matrix.channel }}
    steps:
      - name: Mock
        run: |
          echo "continue=true" >> $GITHUB_ENV
          echo "HMCL_VERSION=3.10.0.316" >> $GITHUB_ENV
          echo "EXE_SHA256=75f9a255ff8758106f26e684fd33ef7405229ad719c3d757f7cb1f126396470b" >> $GITHUB_ENV
      - name: Prepare komac
        if: ${{ env.continue == 'true' && matrix.channel == 'dev' }}
        continue-on-error: true
        run: |
          wget -O komac.deb ${{ env.KOMAC_DEB_DOWNLOAD_URL }}
          sudo apt install ./komac.deb -y
          rm ./komac.deb
          chmod +x .github/scripts/publish_winget_manifest.sh
      - name: Publish a winget manifest from GitHub Releases
        if: ${{ env.continue == 'true' && matrix.channel == 'dev' }}
        continue-on-error: true
        run: .github/scripts/publish_winget_manifest.sh
        env:
          PACKAGE_IDENTIFIER: ${{ matrix.winget-identifier-gh }}
          PACKAGE_NAME: ${{ matrix.winget-name }}
          PACKAGE_VERSION: ${{ env.HMCL_VERSION }}
          PACKAGE_CHANNEL: ${{ matrix.channel }}
          PACKAGE_INSTALLER_URL: https://github.com/${{ github.repository }}/releases/download/v${{ env.HMCL_VERSION }}/HMCL-${{ env.HMCL_VERSION }}.exe
          PACKAGE_INSTALLER_SHA256: ${{ env.EXE_SHA256 }}
          KOMAC_TOKEN: ${{ secrets.KOMAC_TOKEN }}
      - name: Publish a winget manifest from CNB Releases
        if: ${{ env.continue == 'true' && matrix.channel == 'dev' }}
        continue-on-error: true
        run: .github/scripts/publish_winget_manifest.sh
        env:
          PACKAGE_IDENTIFIER: ${{ matrix.winget-identifier-cnb }}
          PACKAGE_NAME: ${{ matrix.winget-name }}
          PACKAGE_VERSION: ${{ env.HMCL_VERSION }}
          PACKAGE_CHANNEL: ${{ matrix.channel }}
          PACKAGE_INSTALLER_URL: https://cnb.cool/HMCL-dev/HMCL/-/releases/download/v${{ env.HMCL_VERSION }}/HMCL-${{ env.HMCL_VERSION }}.exe
          PACKAGE_INSTALLER_SHA256: ${{ env.EXE_SHA256 }}
          KOMAC_TOKEN: ${{ secrets.KOMAC_TOKEN }}
