name: Create Release

on:
  workflow_dispatch:
    inputs:
      channel:
        description: Channel
        required: true
        default: dev
        type: choice
        options:
          - dev
          - stable

permissions:
  contents: write

jobs:
  check-update:
    runs-on: ubuntu-latest
    name: check-update-${{ github.event.inputs.channel }}
    env:
      CHANNEL: ${{ github.event.inputs.channel }}
      TASK: ${{ github.event.inputs.channel == 'dev' && 'checkUpdateDev' || 'checkUpdateStable' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Fetch last version
        run: ./gradlew ${{ env.TASK }} --no-daemon --info --stacktrace
      - name: Check for existing tags
        run: if [ -z "$(git tag -l "$HMCL_TAG_NAME")" ]; then echo "continue=true" >> $GITHUB_ENV; fi
      - name: Download artifacts
        if: ${{ env.continue == 'true' }}
        run: |
          wget "https://github.com/HMCL-dev/HMCL/releases/download/v$HMCL_VERSION/HMCL-$HMCL_VERSION.exe"
          wget "https://github.com/HMCL-dev/HMCL/releases/download/v$HMCL_VERSION/HMCL-$HMCL_VERSION.jar"
          wget "https://github.com/HMCL-dev/HMCL/releases/download/v$HMCL_VERSION/HMCL-$HMCL_VERSION.sh"
          wget "$HMCL_CI_DOWNLOAD_BASE_URI/HMCL-$HMCL_VERSION.exe.sha256"
          wget "$HMCL_CI_DOWNLOAD_BASE_URI/HMCL-$HMCL_VERSION.jar.sha256"
          wget "$HMCL_CI_DOWNLOAD_BASE_URI/HMCL-$HMCL_VERSION.sh.sha256"
      - name: Verify artifacts
        if: ${{ env.continue == 'true' }}
        run: |
          export JAR_SHA256=$(cat HMCL-$HMCL_VERSION.jar.sha256 | tr -d '\n')
          export EXE_SHA256=$(cat HMCL-$HMCL_VERSION.exe.sha256 | tr -d '\n')
          export SH_SHA256=$(cat HMCL-$HMCL_VERSION.sh.sha256 | tr -d '\n')
          
          echo "$JAR_SHA256  HMCL-$HMCL_VERSION.jar" | sha256sum -c
          echo "$EXE_SHA256  HMCL-$HMCL_VERSION.exe" | sha256sum -c
          echo "$SH_SHA256  HMCL-$HMCL_VERSION.sh" | sha256sum -c
      - name: Generate release note
        if: ${{ env.continue == 'true' }}
        run: |
          # GitHub Release Note
          echo "&nbsp;**[Changelog](https://docs.hmcl.net/changelog/${{ env.CHANNEL }}.html#HMCL-$HMCL_VERSION)** (Chinese)" >> RELEASE_NOTE
          echo "" >> RELEASE_NOTE
          echo "| File | SHA-256 Checksum |"  >> RELEASE_NOTE
          echo "| ---  | --- |" >> RELEASE_NOTE
          echo "| [HMCL-$HMCL_VERSION.exe]($GH_DOWNLOAD_BASE_URL/v$HMCL_VERSION/HMCL-$HMCL_VERSION.exe) | \`$(cat HMCL-$HMCL_VERSION.exe.sha256)\` |" >> RELEASE_NOTE
          echo "| [HMCL-$HMCL_VERSION.jar]($GH_DOWNLOAD_BASE_URL/v$HMCL_VERSION/HMCL-$HMCL_VERSION.jar) | \`$(cat HMCL-$HMCL_VERSION.jar.sha256)\` |" >> RELEASE_NOTE
          echo "| [HMCL-$HMCL_VERSION.sh]($GH_DOWNLOAD_BASE_URL/v$HMCL_VERSION/HMCL-$HMCL_VERSION.sh)   | \`$(cat HMCL-$HMCL_VERSION.sh.sha256)\` |"  >> RELEASE_NOTE
        env:
          GH_DOWNLOAD_BASE_URL: https://github.com/${{ github.repository }}/releases/download
      - name: Create GitHub release
        if: ${{ env.continue == 'true' }}
        run: |
          gh release create "${{ env.HMCL_TAG_NAME }}" \
            "HMCL-${{ env.HMCL_VERSION }}.exe" \
            "HMCL-${{ env.HMCL_VERSION }}.jar" \
            "HMCL-${{ env.HMCL_VERSION }}.sh" \
            --target "${{ env.HMCL_COMMIT_SHA }}" \
            --title "${{ env.HMCL_TAG_NAME }}" \
            --notes-file RELEASE_NOTE \
            --prerelease
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
